@media(max-width: 820px){
    .container {
        flex-direction: column;
    }
    
    .logo .name {
        font-size: 40px;
        font-weight: 800;
    }

    .menu-list .menu {
        flex-direction: column;
        margin-top: 50px;
    }

    .menu-list .menu li {
        padding: 30px 0;
    }

    .menu-list .menu li:last-child{
        margin-top: 20px;
    }

    .menu-list .menu li a{
        font-size: 40px;
        padding: 18px 40px;
    }

    .menu-list .menu .button{
        font-size: 18px;
        padding: 15px 22px;
    }
}