body{
    color: black;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo .name{
    font-weight: 800;
    font-size: 20px;
    padding: 8px;
}

.menu-list .menu{
    display: flex;
    align-items: center;
    color: black;
}

.menu-list .menu li a{
    margin: 15px;
    padding: 10px 20px;
}

.menu-list .menu li a:hover{
    background-color: #5BC241;
    color: #fff;
}

.menu-list .menu .button{
    background-color: #5BC241;
    color: #fff;
    border-radius: 10px;
    margin: 30px;
    padding: 10px 20px;
}